{% extends 'myapp/base.html' %}
{% block content %}
<h3>{{msg}}</h3>
<h2>List of flights</h2>
<table class="table table-striped">
    <thead>
    <td>BOOKING ID</td>
    <td>USER NAME</td>
    <td>FLIGHT NAME</td>
    <td>SOURCE</td>
    <td>DESTINATION</td>
    <td>NUM OF SEATS</td>
    <td>PRICE</td>
    <td>DATE</td>
    <td>TIME</td>
    <td>STATUS</td>


    </thead>

    {% for row in book_list %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td>{{row.flight_name}}</td>
        <td>{{row.source}}</td>
        <td>{{row.dest}}</td>
        <td>{{row.nos}}</td>
        <td>{{row.price}}</td>
        <td>{{row.date}}</td>
        <td>{{row.time}}</td>
        <td>{{row.status}}</td>


    </tr>
    {% endfor %}
</table>


<div class="form-container">
    <form action="{% url 'cancellings' %}" method="post">
        <!-- First form code here -->
        <h3>Choose flight to book</h3>
        {% csrf_token %}
        <div class="col-auto">
            <label for="example-email-input" class="col-2 col-form-label">Booking ID</label>
            <div class="col-5">
                <input name='flight_id' class="form-control" type="number" id="example-email-input">
            </div>
        </div>

        <br>
        <br>
        <div class="pull-right">
            <button type="submit" class="btn btn-primary float-left">Cancel Flight</button>
        </div>
        {{error}}
    </form>
</div>
<br>
<br>
<br>
<br>
<div class="form-container">
    <form action="{% url 'deleterecord' %}" method="post">
        <!-- Second form code here -->
        <h3>Choose flight to Delete</h3>
        {% csrf_token %}
        <div class="col-auto">
            <label for="example-email-input" class="col-2 col-form-label">Booking ID</label>
            <div class="col-5">
                <input name='flight_idd' class="form-control" type="number" id="example-email-input">
            </div>
        </div>

        <br>
        <br>
        <div class="pull-right">
            <button type="submit" class="btn btn-primary float-left">Delete</button>
        </div>


        {{error}}
    </form>
</div>

{% endblock %}